# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Generált könyvtárak
/data/

# A log és models mappák tartalmát ignoráljuk, de a mappákat magukat
# a .gitkeep fájl segítségével megtartjuk a verziókezelésben.
log/*
!log/.gitkeep
models/*
!models/.gitkeep

# Környezeti fájlok
.env
.venv
venv/
ENV/

# IDE/Editor specifikus fájlok
.vscode/
.idea/
*.swp
*.swo
